{% extends 'layout.njk' %}
    
     {% block head %}
        <title>Home - Rocket</title>
    {% endblock %}

    {% block content %}

        <div class="wrapper">
            <img src="{{ data.logo_url }}" alt="{{ data.name }}">
            <h1>{{ data.name }}</h1>
        </div>

    {% endblock %}

