{% extends 'layout.njk' %}
    
     {% block head %}
        <title>Home - Rocket</title>
    {% endblock %}

    {% block content %}

        <div class="wrapper">
            <img src="https://rocketseat.com.br/static/images/logo-rocketseat.svg" alt="logo rocketseat">
            <h1>Rocket Courses</h1>
        </div>

    {% endblock %}

