{% extends 'layout.njk' %}

    {% block head %}
        <title>Sobre - Rocket</title>
    {% endblock %}
    
    {% block content %}

        <div class="wrapper">
            <img src="https://rocketseat.com.br/static/images/logo-rocketseat.svg" alt="logo rocketseat">
            <h1>Rocket Courses</h1>
            <h2>A menor distância entre você e seus objetivos como programador</h2>
            <div class="list">
                <ul>
                    <li>Tecnologias:</li>
                    <li>ReactJS</li>
                    <li>React Native</li>
                    <li>NodeJS</li>
                </ul>
            </div>
        </div>

        <div id="links-footer" class="links">
            <a href="">Github</a>
            <a href="">Instagram</a>
            <a href="">Facebook</a>
        </div>
    
    {% endblock %}