{% extends 'layout.njk' %}

    {% block head %}
        <title>Sobre - Rocket</title>
    {% endblock %}
    
    {% block content %}

        <div class="wrapper">
            <img src="{{ data.logo_url }}" alt="{{ data.name }}">
            <h1>{{ data.name }}</h1>
            <h2>{{ data.description }}</h2>
            <div class="list">
                <ul>
                    <li>Tecnologias:</li>
                    {% for tech in data.techs %}
                        <li>{{ tech.name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div id="links-footer" class="links">
            {% for link in data.links %}
                <a href="">{{ link.name }}</a>
            {% endfor %}
        </div>
    
    {% endblock %}